#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
#btnContainer{
    text-align: center;
}
.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s
}
.buttons:hover {
    background-color: aquamarine;
}