body{
    background-color: rgb(20,20,20);
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin: 0px;
}
nav{
    z-index: 10;
    display: flex;
    position: sticky;
    top: 0;
    height: 60px;
    background-color: aliceblue;
    color: rgb(20,20,20);
    padding: 0px 30px;
    justify-content: space-between;
}
.nav-items{
    display: flex;
    gap: 10px;
    align-items: center;
}
#logo-title p {
    font-size: 1.2em;
    font-weight: 550;
}
#logo-title img {
    height: 80%;
    border-radius: 10px;
}
#buttons button {
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    transition: all 0.2s;
}
#buttons button:hover {
    background-color: aquamarine;
    transform: scale(1.1);
}

.margin{
    margin: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 700px;
    gap: 10px;
}
section{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
}
#links{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}

#links button {
    height: 40px;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: 700;
    background-color:azure ;
    border-radius: 10px;
    padding: 5px;
    border: none;
    transition: all 0.2s;
}
#links button:hover {
    background-color: aquamarine;
    transform: translateY(5px);
}

textarea{
    resize: none;
    width: auto;
}

footer{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: bisque;
    justify-content: center;
}
footer p{
    color: rgb(20,20,20);
    font-size: 1.2em
}